body{
        margin: 0;
        padding: 0;
        background-color: #F5F5F5;
        font-size: 1.3em;
}

hr {
        width: 98%;
}

p {
        padding-left: 1em;
        padding-right: 1.5em;
        font-size: 1.3em;
        line-height: 120%;
}

div.title{
        padding-left: 25px;
        font-size: 1.5em;
        color: #000000;
}

.intro{
        font-size: 1.6em;
        font-weight: bold;
}

div.main {
        margin-bottom: 25px;
        width: 70em;  
        padding-top: 0.5em;
        margin: 3px auto;          
        background-color:#ffffff;
}

div.outer {
        padding: 1%;
}

div.subtitle {
        color: #000000;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.5em;
        font-weight: bold;
}
        
div.footer{
        padding-left: 6px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        font-size: 1.5em;
}

.img{
        padding-left: 5em;
        width: auto;
        height: 225px;
}

ul li{
        font-size:18px;
        font-weight: bold;
}

